<!DOCTYPE html>
<html lang="en">
<head th:replace="layout::head">
    <meta charset="UTF-8">
    <title>Ordenes</title>
</head>
<body>
<nav th:replace="layout::menu"></nav>
<hr/>
<hr/>
<hr/>
<div class="card">
    <div class="alert alert-warning text-center">
        <h1 style="text-align: center">Listado de Ordenes</h1>
    </div>
<div class="container">
    <button class="btn btn-outline-primary btnnuevo">Nuevo</button>
    <hr/>
    <table class="table table-bordered striped" id="tborders">
        <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Fecha envio</th>
            <th>Barco Nombre</th>
            <th>Barco Direccion</th>
            <th>Cuidad</th>
            <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l:${ordenes}">
            <td th:text="${l.orderid}"></td>
            <td th:text="${l.shippeddate}"></td>
            <td th:text="${l.shipname}"></td>
            <td th:text="${l.shipaddress}"></td>
            <td th:text="${l.shipcity}"></td>
            <td>
                <button class="btn btn-warning btnactualizar"
                        th:data-orderid="${l.orderid}">Modificar</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>





</body>
</html>